{{ harbor_log_location | default('/var/log/harbor') }}/*.log {
    daily
    missingok
    rotate {{ harbor_log_rotate_count | default('52') }}
    compress
    delaycompress
    notifempty
    sharedscripts
    postrotate
        /bin/kill -HUP `cat {{ harbor_pid_file | default('/var/run/harbor.pid') }} 2> /dev/null` 2> /dev/null || true
    endscript
}

{{ harbor_log_location | default('/var/log/harbor') }}/core/*.log {
    daily
    missingok
    rotate {{ harbor_log_rotate_count | default('52') }}
    compress
    delaycompress
    notifempty
    sharedscripts
}

{{ harbor_log_location | default('/var/log/harbor') }}/jobservice/*.log {
    daily
    missingok
    rotate {{ harbor_log_rotate_count | default('52') }}
    compress
    delaycompress
    notifempty
    sharedscripts
}

{{ harbor_log_location | default('/var/log/harbor') }}/registry/*.log {
    daily
    missingok
    rotate {{ harbor_log_rotate_count | default('52') }}
    compress
    delaycompress
    notifempty
    sharedscripts
}

{{ harbor_log_location | default('/var/log/harbor') }}/registryctl/*.log {
    daily
    missingok
    rotate {{ harbor_log_rotate_count | default('52') }}
    compress
    delaycompress
    notifempty
    sharedscripts
}

{{ harbor_log_location | default('/var/log/harbor') }}/proxy/*.log {
    daily
    missingok
    rotate {{ harbor_log_rotate_count | default('52') }}
    compress
    delaycompress
    notifempty
    sharedscripts
}