apiVersion: 1

datasources:
  - name: {{ grafana_prometheus_datasource.name }}
    type: {{ grafana_prometheus_datasource.type }}
    access: {{ grafana_prometheus_datasource.access }}
    url: {{ grafana_prometheus_datasource.url }}
    isDefault: {{ grafana_prometheus_datasource.isDefault | lower }}
    editable: true
    version: 1