[Unit]
Description=Grafana Server
Documentation=https://grafana.com/docs/
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{ monitoring_user }}
Group={{ monitoring_group }}
ExecStart=/usr/bin/docker run --rm --name grafana-{{ deployment_environment | default('local') }} \
  -p {{ grafana_port }}:3000 \
  -v {{ monitoring_home_dir }}/grafana/data:/var/lib/grafana \
  -v {{ monitoring_home_dir }}/grafana/provisioning:/etc/grafana/provisioning \
  -v {{ monitoring_home_dir }}/grafana/dashboards:/var/lib/grafana/dashboards \
  --network {{ monitoring_docker_network }} \
  -e GF_SECURITY_ADMIN_USER={{ grafana_admin_user }} \
  -e GF_SECURITY_ADMIN_PASSWORD={{ grafana_admin_password }} \
  -e GF_USERS_ALLOW_SIGN_UP={{ grafana_allow_sign_up | lower }} \
  -e GF_USERS_DEFAULT_THEME=dark \
  grafana/grafana:{{ grafana_version }}
ExecStop=/usr/bin/docker stop grafana-{{ deployment_environment | default('local') }}
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target