{
  "dashboard": {
    "id": null,
    "title": "Jenkins: Advanced Overview - {{ deployment_mode | default('local') | title }}",
    "tags": ["jenkins", "advanced", "overview", "multi-team", "{{ deployment_mode | default('local') }}"],
    "style": "dark",
    "timezone": "",
    "refresh": "",
    "description": "The dashboard displays the status of your Jenkins jobs, the status of the queue on executors, and a few other things. The metrics you get are taken from the Prometheus plugin for your Jenkins. Enhanced for multi-team deployment.",
    "editable": true,
    "fiscalYearStartMonth": 0,
    "graphTooltip": 1,
    "links": [],
    "liveNow": false,
    "time": {
      "from": "now-6h",
      "to": "now"
    },
    "timepicker": {},
    "templating": {
      "list": [
        {
          "name": "jenkins_team",
          "type": "query",
          "datasource": {
            "type": "prometheus",
            "uid": "prometheus"
          },
          "query": "label_values(up{job=~\"jenkins.*\"}, jenkins_team)",
          "refresh": 1,
          "includeAll": true,
          "multi": true,
          "allValue": ".*",
          "current": {
            "text": "All",
            "value": "$__all"
          },
          "options": [],
          "label": "Team",
          "hide": 0,
          "sort": 1,
          "regex": "",
          "skipUrlSync": false
        },
        {
          "name": "jenkins_environment",
          "type": "query",
          "datasource": {
            "type": "prometheus",
            "uid": "prometheus"
          },
          "query": "label_values(up{job=~\"jenkins.*\"}, jenkins_environment)",
          "refresh": 1,
          "includeAll": true,
          "multi": true,
          "allValue": ".*",
          "current": {
            "text": "All",
            "value": "$__all"
          },
          "options": [],
          "label": "Environment",
          "hide": 0,
          "sort": 1,
          "regex": "",
          "skipUrlSync": false
        },
        {
          "auto": true,
          "auto_count": 30,
          "auto_min": "10s",
          "current": {
            "selected": true,
            "text": "1h",
            "value": "1h"
          },
          "hide": 0,
          "name": "interval",
          "options": [
            {
              "selected": false,
              "text": "auto",
              "value": "$__auto_interval_interval"
            },
            {
              "selected": false,
              "text": "1m",
              "value": "1m"
            },
            {
              "selected": false,
              "text": "10m",
              "value": "10m"
            },
            {
              "selected": false,
              "text": "30m",
              "value": "30m"
            },
            {
              "selected": true,
              "text": "1h",
              "value": "1h"
            },
            {
              "selected": false,
              "text": "6h",
              "value": "6h"
            },
            {
              "selected": false,
              "text": "12h",
              "value": "12h"
            },
            {
              "selected": false,
              "text": "1d",
              "value": "1d"
            },
            {
              "selected": false,
              "text": "7d",
              "value": "7d"
            },
            {
              "selected": false,
              "text": "14d",
              "value": "14d"
            },
            {
              "selected": false,
              "text": "30d",
              "value": "30d"
            }
          ],
          "query": "1m,10m,30m,1h,6h,12h,1d,7d,14d,30d",
          "queryValue": "",
          "refresh": 2,
          "skipUrlSync": false,
          "type": "interval"
        },
        {
          "current": {},
          "datasource": {
            "type": "prometheus",
            "uid": "prometheus"
          },
          "definition": "label_values(up{job=~\"jenkins.*\", jenkins_team=~\"$jenkins_team\", jenkins_environment=~\"$jenkins_environment\"}, instance)",
          "hide": 0,
          "includeAll": false,
          "label": "instance",
          "multi": false,
          "name": "instance",
          "options": [],
          "query": {
            "query": "label_values(up{job=~\"jenkins.*\", jenkins_team=~\"$jenkins_team\", jenkins_environment=~\"$jenkins_environment\"}, instance)",
            "refId": "StandardVariableQuery"
          },
          "refresh": 1,
          "regex": "",
          "skipUrlSync": false,
          "sort": 1,
          "type": "query"
        },
        {
          "current": {},
          "datasource": {
            "type": "prometheus",
            "uid": "prometheus"
          },
          "definition": "label_values(jenkins_executors_defined{jenkins_team=~\"$jenkins_team\", jenkins_environment=~\"$jenkins_environment\"}, label)",
          "hide": 0,
          "includeAll": true,
          "label": "workers_label",
          "multi": true,
          "name": "workers_label",
          "options": [],
          "query": {
            "query": "label_values(jenkins_executors_defined{jenkins_team=~\"$jenkins_team\", jenkins_environment=~\"$jenkins_environment\"}, label)",
            "refId": "StandardVariableQuery"
          },
          "refresh": 1,
          "regex": "",
          "skipUrlSync": false,
          "sort": 1,
          "type": "query"
        },
        {
          "description": "Jenkins URL for links",
          "hide": 2,
          "label": "jenkins_url",
          "name": "jenkins_url",
          "query": "https://{{ jenkins_teams[0].team_name }}jenkins.{{ jenkins_domain }}/job/",
          "skipUrlSync": false,
          "type": "constant",
          "current": {
            "value": "https://{{ jenkins_teams[0].team_name }}jenkins.{{ jenkins_domain }}/job/",
            "text": "https://{{ jenkins_teams[0].team_name }}jenkins.{{ jenkins_domain }}/job/",
            "selected": false
          },
          "options": [
            {
              "value": "https://{{ jenkins_teams[0].team_name }}jenkins.{{ jenkins_domain }}/job/",
              "text": "https://{{ jenkins_teams[0].team_name }}jenkins.{{ jenkins_domain }}/job/",
              "selected": false
            }
          ]
        },
        {
          "current": {},
          "datasource": {
            "type": "prometheus",
            "uid": "prometheus"
          },
          "definition": "label_values(jenkins_job_last_completed_build{jenkins_team=~\"$jenkins_team\", jenkins_environment=~\"$jenkins_environment\"}, jobname)",
          "hide": 0,
          "includeAll": true,
          "label": "Job",
          "multi": true,
          "name": "jobname",
          "options": [],
          "query": {
            "query": "label_values(jenkins_job_last_completed_build{jenkins_team=~\"$jenkins_team\", jenkins_environment=~\"$jenkins_environment\"}, jobname)",
            "refId": "StandardVariableQuery"
          },
          "refresh": 1,
          "regex": "",
          "skipUrlSync": false,
          "sort": 1,
          "type": "query"
        }
      ]
    },
    "annotations": {
      "list": [
        {
          "builtIn": 1,
          "datasource": {
            "type": "grafana",
            "uid": "-- Grafana --"
          },
          "enable": true,
          "hide": true,
          "iconColor": "rgba(0, 211, 255, 1)",
          "name": "Annotations & Alerts",
          "target": {
            "limit": 100,
            "matchAny": false,
            "tags": [],
            "type": "dashboard"
          },
          "type": "dashboard"
        }
      ]
    },
    "panels": [
      {
        "collapsed": false,
        "gridPos": {
          "h": 1,
          "w": 24,
          "x": 0,
          "y": 0
        },
        "id": 1013,
        "panels": [],
        "title": "Main",
        "type": "row"
      },
      {
        "datasource": {
          "type": "prometheus",
          "uid": "prometheus"
        },
        "description": "",
        "fieldConfig": {
          "defaults": {
            "color": {
              "mode": "thresholds"
            },
            "custom": {
              "align": "right",
              "cellOptions": {
                "type": "auto"
              },
              "filterable": true,
              "inspect": true
            },
            "decimals": 2,
            "displayName": "",
            "mappings": [],
            "thresholds": {
              "mode": "absolute",
              "steps": [
                {
                  "color": "green",
                  "value": null
                }
              ]
            },
            "unit": "short"
          },
          "overrides": [
            {
              "matcher": {
                "id": "byName",
                "options": "jenkins_job"
              },
              "properties": [
                {
                  "id": "displayName",
                  "value": "Jobs"
                },
                {
                  "id": "unit",
                  "value": "none"
                },
                {
                  "id": "custom.align",
                  "value": "auto"
                },
                {
                  "id": "custom.cellOptions",
                  "value": {
                    "mode": "gradient",
                    "type": "color-background"
                  }
                },
                {
                  "id": "links",
                  "value": [
                    {
                      "targetBlank": true,
                      "title": "",
                      "url": "${jenkins_url}${__data.fields.job_url}"
                    }
                  ]
                }
              ]
            },
            {
              "matcher": {
                "id": "byName",
                "options": "Value #A (lastNotNull)"
              },
              "properties": [
                {
                  "id": "displayName",
                  "value": "Last build duration"
                },
                {
                  "id": "unit",
                  "value": "ms"
                },
                {
                  "id": "decimals"
                },
                {
                  "id": "custom.align",
                  "value": "left"
                },
                {
                  "id": "custom.cellOptions",
                  "value": {
                    "mode": "gradient",
                    "type": "color-background"
                  }
                },
                {
                  "id": "custom.inspect",
                  "value": true
                },
                {
                  "id": "color",
                  "value": {
                    "mode": "thresholds"
                  }
                },
                {
                  "id": "noValue"
                },
                {
                  "id": "thresholds",
                  "value": {
                    "mode": "absolute",
                    "steps": [
                      {
                        "color": "green",
                        "value": null
                      },
                      {
                        "color": "orange",
                        "value": 3600000
                      },
                      {
                        "color": "dark-orange",
                        "value": 9000000
                      },
                      {
                        "color": "dark-red",
                        "value": 14400000
                      }
                    ]
                  }
                },
                {
                  "id": "custom.width",
                  "value": 300
                },
                {
                  "id": "mappings",
                  "value": [
                    {
                      "options": {
                        "match": "null",
                        "result": {
                          "color": "semi-dark-orange",
                          "index": 0,
                          "text": "Still running"
                        }
                      },
                      "type": "special"
                    }
                  ]
                }
              ]
            },
            {
              "matcher": {
                "id": "byName",
                "options": "Value #B (lastNotNull)"
              },
              "properties": [
                {
                  "id": "displayName",
                  "value": "Last build start"
                },
                {
                  "id": "unit",
                  "value": "dateTimeAsIso"
                },
                {
                  "id": "custom.align",
                  "value": "left"
                },
                {
                  "id": "custom.cellOptions",
                  "value": {
                    "mode": "gradient",
                    "type": "color-background"
                  }
                },
                {
                  "id": "noValue",
                  "value": "no info"
                },
                {
                  "id": "custom.width",
                  "value": 300
                }
              ]
            },
            {
              "matcher": {
                "id": "byRegexp",
                "options": "instance|Time|__name__|buildable|job|repo"
              },
              "properties": [
                {
                  "id": "custom.hidden",
                  "value": true
                }
              ]
            },
            {
              "matcher": {
                "id": "byName",
                "options": "Value #D (lastNotNull)"
              },
              "properties": [
                {
                  "id": "custom.filterable",
                  "value": true
                },
                {
                  "id": "mappings",
                  "value": [
                    {
                      "options": {
                        "0": {
                          "color": "dark-green",
                          "index": 1,
                          "text": "Success"
                        },
                        "1": {
                          "color": "light-yellow",
                          "index": 2,
                          "text": "Unstable"
                        },
                        "2": {
                          "color": "dark-red",
                          "index": 3,
                          "text": "Failed"
                        },
                        "3": {
                          "color": "light-green",
                          "index": 4,
                          "text": "not built"
                        },
                        "4": {
                          "color": "super-light-blue",
                          "index": 5,
                          "text": "Aborted"
                        },
                        "-1": {
                          "color": "orange",
                          "index": 0,
                          "text": "Running"
                        }
                      },
                      "type": "value"
                    }
                  ]
                },
                {
                  "id": "decimals"
                },
                {
                  "id": "displayName",
                  "value": "Last build result"
                },
                {
                  "id": "color",
                  "value": {
                    "mode": "thresholds"
                  }
                },
                {
                  "id": "custom.cellOptions",
                  "value": {
                    "mode": "gradient",
                    "type": "color-background"
                  }
                },
                {
                  "id": "custom.align",
                  "value": "left"
                }
              ]
            },
            {
              "matcher": {
                "id": "byName",
                "options": "Value #E (lastNotNull)"
              },
              "properties": [
                {
                  "id": "unit",
                  "value": "ms"
                },
                {
                  "id": "displayName",
                  "value": "Avg build duration (week)"
                },
                {
                  "id": "color",
                  "value": {
                    "mode": "thresholds"
                  }
                },
                {
                  "id": "custom.align",
                  "value": "left"
                },
                {
                  "id": "custom.cellOptions",
                  "value": {
                    "mode": "gradient",
                    "type": "color-background"
                  }
                }
              ]
            }
          ]
        },
        "gridPos": {
          "h": 28,
          "w": 18,
          "x": 0,
          "y": 1
        },
        "id": 147,
        "options": {
          "footer": {
            "countRows": false,
            "fields": "",
            "reducer": [
              "sum"
            ],
            "show": false
          },
          "showHeader": true,
          "sortBy": [
            {
              "desc": true,
              "displayName": "Last build start"
            }
          ]
        },
        "pluginVersion": "9.4.7",
        "targets": [
          {
            "datasource": {
              "type": "prometheus",
              "uid": "prometheus"
            },
            "editorMode": "code",
            "exemplar": false,
            "expr": "label_replace(jenkins_job_last_build_timestamp_seconds{jobname=~\"$jobname\", jenkins_team=~\"$jenkins_team\", jenkins_environment=~\"$jenkins_environment\"}, \"job_url\", \"$1/job/$2\", \"jobname\", \"(.*)/(.*)\")",
            "format": "table",
            "hide": false,
            "instant": true,
            "interval": "",
            "legendFormat": "{{ '{{' }}jobname{{ '}}' }}",
            "range": false,
            "refId": "B"
          },
          {
            "datasource": {
              "type": "prometheus",
              "uid": "prometheus"
            },
            "editorMode": "code",
            "exemplar": false,
            "expr": "label_replace(avg_over_time(jenkins_job_duration_seconds{jobname=~\"$jobname\", jenkins_team=~\"$jenkins_team\", jenkins_environment=~\"$jenkins_environment\"}[7d]), \"job_url\", \"$1/job/$2\", \"jobname\", \"(.*)/(.*)\")",
            "format": "table",
            "hide": false,
            "instant": true,
            "legendFormat": "__auto",
            "range": false,
            "refId": "E"
          },
          {
            "datasource": {
              "type": "prometheus",
              "uid": "prometheus"
            },
            "editorMode": "code",
            "exemplar": false,
            "expr": "label_replace(jenkins_job_duration_seconds{jobname=~\"$jobname\", jenkins_team=~\"$jenkins_team\", jenkins_environment=~\"$jenkins_environment\"}, \"job_url\", \"$1/job/$2\", \"jobname\", \"(.*)/(.*)\")",
            "format": "table",
            "hide": false,
            "instant": true,
            "interval": "",
            "legendFormat": "{{ '{{' }}jobname{{ '}}' }}",
            "range": false,
            "refId": "A"
          },
          {
            "datasource": {
              "type": "prometheus",
              "uid": "prometheus"
            },
            "editorMode": "code",
            "exemplar": false,
            "expr": "label_replace(jenkins_job_last_build_result_ordinal{jobname=~\"$jobname\", jenkins_team=~\"$jenkins_team\", jenkins_environment=~\"$jenkins_environment\"}, \"job_url\", \"$1/job/$2\", \"jobname\", \"(.*)/(.*)\")",
            "format": "table",
            "hide": false,
            "instant": true,
            "interval": "",
            "legendFormat": "__auto",
            "range": false,
            "refId": "D"
          }
        ],
        "title": "Job info",
        "transformations": [
          {
            "id": "merge",
            "options": {
              "reducers": []
            }
          },
          {
            "id": "groupBy",
            "options": {
              "fields": {
                "Value #A": {
                  "aggregations": [
                    "lastNotNull"
                  ],
                  "operation": "aggregate"
                },
                "Value #B": {
                  "aggregations": [
                    "lastNotNull"
                  ],
                  "operation": "aggregate"
                },
                "Value #D": {
                  "aggregations": [
                    "lastNotNull"
                  ],
                  "operation": "aggregate"
                },
                "Value #E": {
                  "aggregations": [
                    "lastNotNull"
                  ],
                  "operation": "aggregate"
                },
                "jenkins_job": {
                  "aggregations": [],
                  "operation": "groupby"
                },
                "job_url": {
                  "aggregations": [],
                  "operation": "groupby"
                }
              }
            }
          }
        ],
        "type": "table"
      },
      {
        "datasource": {
          "type": "prometheus",
          "uid": "prometheus"
        },
        "description": "",
        "fieldConfig": {
          "defaults": {
            "color": {
              "mode": "thresholds"
            },
            "decimals": 0,
            "links": [
              {
                "targetBlank": true,
                "title": "",
                "url": "${jenkins_url}${__data.fields.job_url}"
              }
            ],
            "mappings": [
              {
                "options": {
                  "0": {
                    "color": "dark-green",
                    "index": 1,
                    "text": "success"
                  },
                  "1": {
                    "color": "light-yellow",
                    "index": 2,
                    "text": "unstable"
                  },
                  "2": {
                    "color": "semi-dark-red",
                    "index": 3,
                    "text": "failed"
                  },
                  "3": {
                    "color": "light-green",
                    "index": 4,
                    "text": "not built"
                  },
                  "4": {
                    "color": "super-light-blue",
                    "index": 5,
                    "text": "aborted"
                  },
                  "-1": {
                    "color": "orange",
                    "index": 0,
                    "text": "running"
                  }
                },
                "type": "value"
              }
            ],
            "max": 1,
            "min": 0,
            "thresholds": {
              "mode": "absolute",
              "steps": [
                {
                  "color": "green",
                  "value": null
                }
              ]
            },
            "unit": "short"
          },
          "overrides": []
        },
        "gridPos": {
          "h": 15,
          "w": 6,
          "x": 18,
          "y": 1
        },
        "id": 1443,
        "options": {
          "colorMode": "background",
          "graphMode": "area",
          "justifyMode": "auto",
          "orientation": "auto",
          "reduceOptions": {
            "calcs": [
              "lastNotNull"
            ],
            "fields": "",
            "values": false
          },
          "textMode": "none"
        },
        "pluginVersion": "9.4.7",
        "targets": [
          {
            "datasource": {
              "type": "prometheus",
              "uid": "prometheus"
            },
            "editorMode": "code",
            "exemplar": false,
            "expr": "label_replace(jenkins_job_last_build_result_ordinal{jobname=~\"$jobname\", jenkins_team=~\"$jenkins_team\", jenkins_environment=~\"$jenkins_environment\"}, \"job_url\", \"$1/job/$2\", \"jobname\", \"(.*)/(.*)\")",
            "format": "time_series",
            "instant": true,
            "legendFormat": "{{ '{{' }}jobname{{ '}}' }}",
            "range": false,
            "refId": "A"
          }
        ],
        "title": "Last build result",
        "transformations": [],
        "type": "stat"
      },
      {
        "datasource": {
          "type": "prometheus",
          "uid": "prometheus"
        },
        "description": "",
        "fieldConfig": {
          "defaults": {
            "color": {
              "mode": "thresholds"
            },
            "decimals": 0,
            "links": [
              {
                "targetBlank": true,
                "title": "",
                "url": "${jenkins_url}${__data.fields.job_url}"
              }
            ],
            "mappings": [
              {
                "options": {
                  "0": {
                    "index": 0,
                    "text": "failed"
                  },
                  "1": {
                    "index": 1,
                    "text": "success"
                  }
                },
                "type": "value"
              }
            ],
            "max": 100,
            "min": 0,
            "thresholds": {
              "mode": "absolute",
              "steps": [
                {
                  "color": "green",
                  "value": null
                },
                {
                  "color": "red",
                  "value": 0
                },
                {
                  "color": "#EAB839",
                  "value": 75
                },
                {
                  "color": "dark-green",
                  "value": 100
                }
              ]
            },
            "unit": "short"
          },
          "overrides": []
        },
        "gridPos": {
          "h": 13,
          "w": 6,
          "x": 18,
          "y": 16
        },
        "id": 136,
        "options": {
          "colorMode": "background",
          "graphMode": "area",
          "justifyMode": "auto",
          "orientation": "auto",
          "reduceOptions": {
            "calcs": [
              "lastNotNull"
            ],
            "fields": "",
            "values": false
          },
          "textMode": "none"
        },
        "pluginVersion": "9.4.7",
        "targets": [
          {
            "datasource": {
              "type": "prometheus",
              "uid": "prometheus"
            },
            "editorMode": "code",
            "exemplar": false,
            "expr": "label_replace(jenkins_job_health_score{jobname=~\"$jobname\", jenkins_team=~\"$jenkins_team\", jenkins_environment=~\"$jenkins_environment\"}, \"job_url\", \"$1/job/$2\", \"jobname\", \"(.*)/(.*)\")",
            "format": "time_series",
            "instant": true,
            "legendFormat": "{{ '{{' }}jobname{{ '}}' }}",
            "range": false,
            "refId": "A"
          }
        ],
        "title": "Builds health",
        "type": "stat"
      },
      {
        "collapsed": false,
        "gridPos": {
          "h": 1,
          "w": 24,
          "x": 0,
          "y": 29
        },
        "id": 93,
        "panels": [],
        "title": "Other",
        "type": "row"
      },
      {
        "datasource": {
          "type": "prometheus",
          "uid": "prometheus"
        },
        "description": "",
        "fieldConfig": {
          "defaults": {
            "color": {
              "mode": "palette-classic"
            },
            "custom": {
              "hideFrom": {
                "legend": false,
                "tooltip": false,
                "viz": false
              }
            },
            "mappings": []
          },
          "overrides": [
            {
              "matcher": {
                "id": "byFrameRefID",
                "options": "C"
              },
              "properties": [
                {
                  "id": "displayName",
                  "value": "Failed"
                },
                {
                  "id": "mappings",
                  "value": [
                    {
                      "options": {
                        "from": 0,
                        "result": {
                          "color": "dark-red",
                          "index": 0
                        },
                        "to": 10000
                      },
                      "type": "range"
                    }
                  ]
                },
                {
                  "id": "color",
                  "value": {
                    "fixedColor": "dark-red",
                    "mode": "fixed"
                  }
                }
              ]
            },
            {
              "matcher": {
                "id": "byFrameRefID",
                "options": "E"
              },
              "properties": [
                {
                  "id": "color",
                  "value": {
                    "fixedColor": "super-light-blue",
                    "mode": "fixed"
                  }
                }
              ]
            },
            {
              "matcher": {
                "id": "byFrameRefID",
                "options": "D"
              },
              "properties": [
                {
                  "id": "color",
                  "value": {
                    "fixedColor": "semi-dark-orange",
                    "mode": "fixed"
                  }
                }
              ]
            },
            {
              "matcher": {
                "id": "byFrameRefID",
                "options": "A"
              },
              "properties": [
                {
                  "id": "color",
                  "value": {
                    "fixedColor": "green",
                    "mode": "fixed"
                  }
                }
              ]
            },
            {
              "matcher": {
                "id": "byFrameRefID",
                "options": "B"
              },
              "properties": [
                {
                  "id": "color",
                  "value": {
                    "fixedColor": "yellow",
                    "mode": "fixed"
                  }
                }
              ]
            }
          ]
        },
        "gridPos": {
          "h": 10,
          "w": 7,
          "x": 0,
          "y": 30
        },
        "id": 2308,
        "options": {
          "displayLabels": [],
          "legend": {
            "displayMode": "table",
            "placement": "right",
            "showLegend": true,
            "values": [
              "value"
            ]
          },
          "pieType": "donut",
          "reduceOptions": {
            "calcs": [
              "lastNotNull"
            ],
            "fields": "",
            "values": false
          },
          "tooltip": {
            "mode": "single",
            "sort": "none"
          }
        },
        "targets": [
          {
            "datasource": {
              "type": "prometheus",
              "uid": "prometheus"
            },
            "editorMode": "code",
            "exemplar": false,
            "expr": "count by(job) (jenkins_job_last_build_result_ordinal{jobname=~\"$jobname\", jenkins_team=~\"$jenkins_team\", jenkins_environment=~\"$jenkins_environment\"} == -1)",
            "hide": false,
            "instant": true,
            "legendFormat": "Running",
            "range": false,
            "refId": "D"
          },
          {
            "datasource": {
              "type": "prometheus",
              "uid": "prometheus"
            },
            "editorMode": "code",
            "exemplar": false,
            "expr": "count by(job) (jenkins_job_last_build_result_ordinal{jobname=~\"$jobname\", jenkins_team=~\"$jenkins_team\", jenkins_environment=~\"$jenkins_environment\"} == 1)",
            "hide": false,
            "instant": true,
            "legendFormat": "Unstable",
            "range": false,
            "refId": "B"
          },
          {
            "datasource": {
              "type": "prometheus",
              "uid": "prometheus"
            },
            "editorMode": "code",
            "exemplar": false,
            "expr": "count by(job) (jenkins_job_last_build_result_ordinal{jobname=~\"$jobname\", jenkins_team=~\"$jenkins_team\", jenkins_environment=~\"$jenkins_environment\"} == 2)",
            "format": "time_series",
            "hide": false,
            "instant": true,
            "legendFormat": "Failed",
            "range": false,
            "refId": "C"
          },
          {
            "datasource": {
              "type": "prometheus",
              "uid": "prometheus"
            },
            "editorMode": "code",
            "exemplar": false,
            "expr": "count by(job) (jenkins_job_last_build_result_ordinal{jobname=~\"$jobname\", jenkins_team=~\"$jenkins_team\", jenkins_environment=~\"$jenkins_environment\"} == 4)",
            "hide": false,
            "instant": true,
            "legendFormat": "Aborted",
            "range": false,
            "refId": "E"
          }
        ],
        "title": "Not succesful builds list",
        "type": "piechart"
      },
      {
        "datasource": {
          "type": "prometheus",
          "uid": "prometheus"
        },
        "fieldConfig": {
          "defaults": {
            "color": {
              "mode": "thresholds"
            },
            "decimals": 0,
            "mappings": [
              {
                "options": {
                  "1": {
                    "index": 0,
                    "text": "Good!"
                  },
                  "*": {
                    "index": 1,
                    "text": "Check :/"
                  }
                },
                "type": "value"
              }
            ],
            "thresholds": {
              "mode": "absolute",
              "steps": [
                {
                  "color": "rgba(245, 54, 54, 0.9)",
                  "value": null
                },
                {
                  "color": "dark-red",
                  "value": 0
                },
                {
                  "color": "rgba(50, 172, 45, 0.97)",
                  "value": 1
                }
              ]
            },
            "unit": "none"
          },
          "overrides": []
        },
        "gridPos": {
          "h": 5,
          "w": 5,
          "x": 7,
          "y": 30
        },
        "id": 105,
        "links": [],
        "maxDataPoints": 100,
        "options": {
          "colorMode": "value",
          "graphMode": "none",
          "justifyMode": "auto",
          "orientation": "horizontal",
          "reduceOptions": {
            "calcs": [
              "lastNotNull"
            ],
            "fields": "",
            "values": false
          },
          "textMode": "auto"
        },
        "pluginVersion": "9.4.7",
        "targets": [
          {
            "datasource": {
              "type": "prometheus",
              "uid": "prometheus"
            },
            "editorMode": "code",
            "expr": "jenkins_health_check_score{jenkins_team=~\"$jenkins_team\", jenkins_environment=~\"$jenkins_environment\"}",
            "format": "time_series",
            "intervalFactor": 1,
            "range": true,
            "refId": "A",
            "textEditor": false
          }
        ],
        "title": "Jenkins health",
        "type": "stat"
      },
      {
        "datasource": {
          "type": "prometheus",
          "uid": "prometheus"
        },
        "fieldConfig": {
          "defaults": {
            "color": {
              "mode": "thresholds"
            },
            "decimals": 0,
            "mappings": [
              {
                "options": {
                  "0": {
                    "index": 0,
                    "text": "All online!"
                  }
                },
                "type": "value"
              }
            ],
            "thresholds": {
              "mode": "absolute",
              "steps": [
                {
                  "color": "rgba(245, 54, 54, 0.9)",
                  "value": null
                },
                {
                  "color": "rgba(50, 172, 45, 0.97)",
                  "value": 0
                },
                {
                  "color": "#EAB839",
                  "value": 1
                },
                {
                  "color": "dark-red",
                  "value": 2
                }
              ]
            },
            "unit": "none"
          },
          "overrides": []
        },
        "gridPos": {
          "h": 5,
          "w": 4,
          "x": 12,
          "y": 30
        },
        "id": 109,
        "links": [],
        "maxDataPoints": 100,
        "options": {
          "colorMode": "value",
          "graphMode": "none",
          "justifyMode": "auto",
          "orientation": "horizontal",
          "reduceOptions": {
            "calcs": [
              "lastNotNull"
            ],
            "fields": "",
            "values": false
          },
          "textMode": "auto"
        },
        "pluginVersion": "9.4.7",
        "targets": [
          {
            "datasource": {
              "type": "prometheus",
              "uid": "prometheus"
            },
            "editorMode": "code",
            "expr": "jenkins_node_offline_value{jenkins_team=~\"$jenkins_team\", jenkins_environment=~\"$jenkins_environment\"}",
            "range": true,
            "refId": "A",
            "textEditor": false
          }
        ],
        "title": "Jenkins nodes offline",
        "type": "stat"
      },
      {
        "datasource": {
          "type": "prometheus",
          "uid": "prometheus"
        },
        "fieldConfig": {
          "defaults": {
            "color": {
              "mode": "thresholds"
            },
            "decimals": 0,
            "mappings": [
              {
                "options": {
                  "0": {
                    "index": 0,
                    "text": "All offline!"
                  }
                },
                "type": "value"
              }
            ],
            "thresholds": {
              "mode": "absolute",
              "steps": [
                {
                  "color": "dark-green",
                  "value": null
                }
              ]
            },
            "unit": "none"
          },
          "overrides": []
        },
        "gridPos": {
          "h": 5,
          "w": 8,
          "x": 16,
          "y": 30
        },
        "id": 145,
        "links": [],
        "maxDataPoints": 100,
        "options": {
          "colorMode": "value",
          "graphMode": "none",
          "justifyMode": "auto",
          "orientation": "horizontal",
          "reduceOptions": {
            "calcs": [
              "lastNotNull"
            ],
            "fields": "",
            "values": false
          },
          "textMode": "auto"
        },
        "pluginVersion": "9.4.7",
        "targets": [
          {
            "datasource": {
              "type": "prometheus",
              "uid": "prometheus"
            },
            "editorMode": "code",
            "expr": "jenkins_node_online_value{jenkins_team=~\"$jenkins_team\", jenkins_environment=~\"$jenkins_environment\"}",
            "range": true,
            "refId": "A",
            "textEditor": false
          }
        ],
        "title": "Jenkins nodes online",
        "type": "stat"
      },
      {
        "datasource": {
          "type": "prometheus",
          "uid": "prometheus"
        },
        "fieldConfig": {
          "defaults": {
            "color": {
              "mode": "thresholds"
            },
            "decimals": 0,
            "mappings": [
              {
                "options": {
                  "match": "null",
                  "result": {
                    "text": "N/A"
                  }
                },
                "type": "special"
              }
            ],
            "thresholds": {
              "mode": "absolute",
              "steps": [
                {
                  "color": "#C4162A",
                  "value": null
                },
                {
                  "color": "#C4162A",
                  "value": 0
                },
                {
                  "color": "#37872D",
                  "value": 0
                }
              ]
            },
            "unit": "ms"
          },
          "overrides": []
        },
        "gridPos": {
          "h": 5,
          "w": 5,
          "x": 7,
          "y": 35
        },
        "id": 107,
        "links": [],
        "maxDataPoints": 100,
        "options": {
          "colorMode": "value",
          "graphMode": "area",
          "justifyMode": "auto",
          "orientation": "horizontal",
          "reduceOptions": {
            "calcs": [
              "lastNotNull"
            ],
            "fields": "",
            "values": false
          },
          "text": {},
          "textMode": "auto"
        },
        "pluginVersion": "9.4.7",
        "targets": [
          {
            "datasource": {
              "type": "prometheus",
              "uid": "prometheus"
            },
            "editorMode": "code",
            "exemplar": false,
            "expr": "vm_uptime_milliseconds{jenkins_team=~\"$jenkins_team\", jenkins_environment=~\"$jenkins_environment\"}",
            "format": "time_series",
            "instant": false,
            "intervalFactor": 1,
            "range": true,
            "refId": "A",
            "textEditor": false
          }
        ],
        "title": "JVM Uptime",
        "type": "stat"
      },
      {
        "datasource": {
          "type": "prometheus",
          "uid": "prometheus"
        },
        "fieldConfig": {
          "defaults": {
            "decimals": 0,
            "mappings": [],
            "thresholds": {
              "mode": "absolute",
              "steps": [
                {
                  "color": "green",
                  "value": null
                }
              ]
            },
            "unit": "short"
          },
          "overrides": []
        },
        "gridPos": {
          "h": 15,
          "w": 9,
          "x": 12,
          "y": 35
        },
        "id": 125,
        "links": [],
        "maxDataPoints": 100,
        "options": {
          "colorMode": "background",
          "graphMode": "area",
          "justifyMode": "center",
          "orientation": "auto",
          "reduceOptions": {
            "calcs": [
              "lastNotNull"
            ],
            "fields": "",
            "values": false
          },
          "text": {},
          "textMode": "auto"
        },
        "pluginVersion": "9.4.7",
        "targets": [
          {
            "datasource": {
              "type": "prometheus",
              "uid": "prometheus"
            },
            "editorMode": "code",
            "expr": "sum(jenkins_executors_connecting{jenkins_team=~\"$jenkins_team\", jenkins_environment=~\"$jenkins_environment\"}) by (workers_label)",
            "hide": false,
            "legendFormat": "Connecting",
            "range": true,
            "refId": "F"
          },
          {
            "datasource": {
              "type": "prometheus",
              "uid": "prometheus"
            },
            "editorMode": "code",
            "expr": "sum(prometheus_jenkins_executors_defined{jenkins_team=~\"$jenkins_team\", jenkins_environment=~\"$jenkins_environment\"}) by (workers_label)",
            "format": "time_series",
            "hide": false,
            "intervalFactor": 1,
            "legendFormat": "Defined",
            "range": true,
            "refId": "A"
          },
          {
            "datasource": {
              "type": "prometheus",
              "uid": "prometheus"
            },
            "editorMode": "code",
            "expr": "sum(prometheus_jenkins_executors_online{jenkins_team=~\"$jenkins_team\", jenkins_environment=~\"$jenkins_environment\"}) by (workers_label)",
            "hide": false,
            "legendFormat": "Online",
            "range": true,
            "refId": "E"
          },
          {
            "datasource": {
              "type": "prometheus",
              "uid": "prometheus"
            },
            "editorMode": "code",
            "expr": "sum(prometheus_jenkins_executors_idle{jenkins_team=~\"$jenkins_team\", jenkins_environment=~\"$jenkins_environment\"}) by (workers_label)",
            "hide": false,
            "legendFormat": "Idle",
            "range": true,
            "refId": "C"
          },
          {
            "datasource": {
              "type": "prometheus",
              "uid": "prometheus"
            },
            "editorMode": "code",
            "expr": "sum(prometheus_jenkins_executors_available{jenkins_team=~\"$jenkins_team\", jenkins_environment=~\"$jenkins_environment\"}) by (workers_label)",
            "hide": false,
            "legendFormat": "Available",
            "range": true,
            "refId": "G"
          },
          {
            "datasource": {
              "type": "prometheus",
              "uid": "prometheus"
            },
            "editorMode": "code",
            "expr": "sum(prometheus_jenkins_executors_busy{jenkins_team=~\"$jenkins_team\", jenkins_environment=~\"$jenkins_environment\"}) by (workers_label)",
            "hide": false,
            "legendFormat": "Busy",
            "range": true,
            "refId": "D"
          }
        ],
        "title": "Executors global",
        "type": "stat"
      },
      {
        "datasource": {
          "type": "prometheus",
          "uid": "prometheus"
        },
        "description": "Количество Job-ов в очереди глобально",
        "fieldConfig": {
          "defaults": {
            "color": {
              "mode": "thresholds"
            },
            "links": [],
            "mappings": [],
            "thresholds": {
              "mode": "absolute",
              "steps": [
                {
                  "color": "green",
                  "value": null
                },
                {
                  "color": "red",
                  "value": 80
                }
              ]
            }
          },
          "overrides": []
        },
        "gridPos": {
          "h": 15,
          "w": 3,
          "x": 21,
          "y": 35
        },
        "id": 3609,
        "options": {
          "colorMode": "value",
          "graphMode": "area",
          "justifyMode": "center",
          "orientation": "auto",
          "reduceOptions": {
            "calcs": [
              "lastNotNull"
            ],
            "fields": "",
            "values": false
          },
          "text": {
            "valueSize": 120
          },
          "textMode": "auto"
        },
        "pluginVersion": "9.4.7",
        "targets": [
          {
            "datasource": {
              "type": "prometheus",
              "uid": "prometheus"
            },
            "editorMode": "code",
            "exemplar": false,
            "expr": "sum (prometheus_jenkins_executors_queue_length{jenkins_team=~\"$jenkins_team\", jenkins_environment=~\"$jenkins_environment\"}) by (workers_label)",
            "instant": true,
            "legendFormat": "__auto",
            "range": false,
            "refId": "A"
          }
        ],
        "title": "Queue global",
        "type": "stat"
      },
      {
        "datasource": {
          "type": "prometheus",
          "uid": "prometheus"
        },
        "description": "",
        "fieldConfig": {
          "defaults": {
            "color": {
              "mode": "continuous-GrYlRd"
            },
            "custom": {
              "align": "auto",
              "cellOptions": {
                "mode": "gradient",
                "type": "color-background"
              },
              "filterable": true,
              "inspect": false
            },
            "decimals": 0,
            "mappings": [],
            "min": 0,
            "noValue": "No failed jobs, GOOD!",
            "thresholds": {
              "mode": "absolute",
              "steps": [
                {
                  "color": "green",
                  "value": null
                }
              ]
            },
            "unit": "short"
          },
          "overrides": [
            {
              "matcher": {
                "id": "byName",
                "options": "Time"
              },
              "properties": [
                {
                  "id": "custom.hidden",
                  "value": true
                }
              ]
            },
            {
              "matcher": {
                "id": "byName",
                "options": "instance"
              },
              "properties": [
                {
                  "id": "custom.hidden",
                  "value": true
                }
              ]
            },
            {
              "matcher": {
                "id": "byName",
                "options": "job_url"
              },
              "properties": [
                {
                  "id": "custom.hidden",
                  "value": true
                }
              ]
            },
            {
              "matcher": {
                "id": "byName",
                "options": "Value"
              },
              "properties": [
                {
                  "id": "custom.hidden",
                  "value": true
                }
              ]
            },
            {
              "matcher": {
                "id": "byName",
                "options": "jenkins_job"
              },
              "properties": [
                {
                  "id": "displayName",
                  "value": "Jobs:"
                },
                {
                  "id": "color",
                  "value": {
                    "mode": "continuous-RdYlGr"
                  }
                },
                {
                  "id": "links",
                  "value": [
                    {
                      "targetBlank": true,
                      "title": "",
                      "url": "${jenkins_url}${__data.fields.job_url}"
                    }
                  ]
                },
                {
                  "id": "custom.cellOptions",
                  "value": {
                    "mode": "gradient",
                    "type": "color-background"
                  }
                }
              ]
            }
          ]
        },
        "gridPos": {
          "h": 10,
          "w": 7,
          "x": 0,
          "y": 40
        },
        "id": 4027,
        "options": {
          "footer": {
            "countRows": false,
            "enablePagination": false,
            "fields": "",
            "reducer": [
              "sum"
            ],
            "show": false
          },
          "showHeader": true
        },
        "pluginVersion": "9.4.7",
        "targets": [
          {
            "datasource": {
              "type": "prometheus",
              "uid": "prometheus"
            },
            "editorMode": "code",
            "exemplar": false,
            "expr": "label_replace(count((count_over_time((jenkins_job_last_build_result_ordinal{jobname=~\"$jobname\",jenkins_team=~\"$jenkins_team\", jenkins_environment=~\"$jenkins_environment\"} == 2)[$interval:])) > (count_over_time((jenkins_job_last_build_result_ordinal{jobname=~\"$jobname\",jenkins_team=~\"$jenkins_team\", jenkins_environment=~\"$jenkins_environment\"} offset 1m == 2)[$interval:]))) by (jenkins_job, instance, job_url), \"job_url\", \"$1/job/$2\", \"jobname\", \"(.*)/(.*)\")",
            "format": "table",
            "instant": true,
            "legendFormat": "{{ '{{' }}jobname{{ '}}' }}",
            "range": false,
            "refId": "A"
          }
        ],
        "title": "Failed jobs for [$interval]",
        "type": "table"
      },
      {
        "datasource": {
          "type": "prometheus",
          "uid": "prometheus"
        },
        "description": "",
        "fieldConfig": {
          "defaults": {
            "color": {
              "mode": "thresholds"
            },
            "decimals": 0,
            "mappings": [
              {
                "options": {
                  "0": {
                    "index": 0
                  }
                },
                "type": "value"
              }
            ],
            "thresholds": {
              "mode": "absolute",
              "steps": [
                {
                  "color": "rgba(245, 54, 54, 0.9)",
                  "value": null
                },
                {
                  "color": "rgba(237, 129, 40, 0.89)",
                  "value": 0
                },
                {
                  "color": "rgba(50, 172, 45, 0.97)",
                  "value": 0
                }
              ]
            },
            "unit": "none"
          },
          "overrides": []
        },
        "gridPos": {
          "h": 5,
          "w": 5,
          "x": 7,
          "y": 40
        },
        "id": 115,
        "links": [],
        "maxDataPoints": 100,
        "options": {
          "colorMode": "value",
          "graphMode": "area",
          "justifyMode": "center",
          "orientation": "horizontal",
          "reduceOptions": {
            "calcs": [
              "lastNotNull"
            ],
            "fields": "",
            "values": false
          },
          "text": {},
          "textMode": "auto"
        },
        "pluginVersion": "9.4.7",
        "targets": [
          {
            "datasource": {
              "type": "prometheus",
              "uid": "prometheus"
            },
            "editorMode": "code",
            "exemplar": false,
            "expr": "increase(jenkins_node_builds_count{node=\"master\", jenkins_team=~\"$jenkins_team\", jenkins_environment=~\"$jenkins_environment\"}[$interval])",
            "format": "time_series",
            "hide": false,
            "instant": false,
            "intervalFactor": 1,
            "range": true,
            "refId": "A",
            "textEditor": false
          }
        ],
        "title": "Total running jobs for [$interval]",
        "type": "stat"
      },
      {
        "datasource": {
          "type": "prometheus",
          "uid": "prometheus"
        },
        "description": "",
        "fieldConfig": {
          "defaults": {
            "color": {
              "mode": "thresholds"
            },
            "decimals": 0,
            "mappings": [
              {
                "options": {
                  "0": {
                    "index": 0
                  }
                },
                "type": "value"
              }
            ],
            "thresholds": {
              "mode": "absolute",
              "steps": [
                {
                  "color": "rgba(245, 54, 54, 0.9)",
                  "value": null
                },
                {
                  "color": "rgba(237, 129, 40, 0.89)",
                  "value": 0
                },
                {
                  "color": "rgba(50, 172, 45, 0.97)",
                  "value": 0
                }
              ]
            },
            "unit": "none"
          },
          "overrides": []
        },
        "gridPos": {
          "h": 5,
          "w": 5,
          "x": 7,
          "y": 45
        },
        "id": 2741,
        "links": [],
        "maxDataPoints": 100,
        "options": {
          "colorMode": "value",
          "graphMode": "area",
          "justifyMode": "center",
          "orientation": "horizontal",
          "reduceOptions": {
            "calcs": [
              "lastNotNull"
            ],
            "fields": "",
            "values": false
          },
          "text": {},
          "textMode": "value"
        },
        "pluginVersion": "9.4.7",
        "targets": [
          {
            "datasource": {
              "type": "prometheus",
              "uid": "prometheus"
            },
            "editorMode": "code",
            "exemplar": false,
            "expr": "count by(job) (jenkins_job_last_build_result_ordinal{jobname=~\"$jobname\", jenkins_team=~\"$jenkins_team\", jenkins_environment=~\"$jenkins_environment\"} == 0)",
            "format": "time_series",
            "instant": false,
            "intervalFactor": 1,
            "legendFormat": "Total success jobs",
            "range": true,
            "refId": "A",
            "textEditor": false
          }
        ],
        "title": "Success jobs",
        "type": "stat"
      },
      {
        "datasource": {
          "type": "prometheus",
          "uid": "prometheus"
        },
        "description": "",
        "fieldConfig": {
          "defaults": {
            "color": {
              "mode": "palette-classic",
              "seriesBy": "last"
            },
            "custom": {
              "axisCenteredZero": false,
              "axisColorMode": "text",
              "axisGridShow": true,
              "axisLabel": "Jobs in queue",
              "axisPlacement": "left",
              "barAlignment": 0,
              "drawStyle": "line",
              "fillOpacity": 10,
              "gradientMode": "none",
              "hideFrom": {
                "legend": false,
                "tooltip": false,
                "viz": false
              },
              "lineInterpolation": "smooth",
              "lineStyle": {
                "fill": "solid"
              },
              "lineWidth": 2,
              "pointSize": 5,
              "scaleDistribution": {
                "type": "linear"
              },
              "showPoints": "never",
              "spanNulls": false,
              "stacking": {
                "group": "A",
                "mode": "normal"
              },
              "thresholdsStyle": {
                "mode": "dashed"
              }
            },
            "decimals": 0,
            "links": [
              {
                "targetBlank": true,
                "title": "Detailed",
                "url": "https://jenkins.aip.ooo/label/${__field.labels.label}"
              }
            ],
            "mappings": [],
            "min": 0.1,
            "thresholds": {
              "mode": "absolute",
              "steps": [
                {
                  "color": "dark-green",
                  "value": null
                },
                {
                  "color": "dark-green",
                  "value": 0
                },
                {
                  "color": "#EAB839",
                  "value": 1
                },
                {
                  "color": "orange",
                  "value": 3
                },
                {
                  "color": "dark-orange",
                  "value": 5
                },
                {
                  "color": "dark-red",
                  "value": 10
                }
              ]
            },
            "unit": "short"
          },
          "overrides": []
        },
        "gridPos": {
          "h": 10,
          "w": 24,
          "x": 0,
          "y": 50
        },
        "id": 4863,
        "options": {
          "legend": {
            "calcs": [
              "last",
              "max"
            ],
            "displayMode": "table",
            "placement": "right",
            "showLegend": true
          },
          "tooltip": {
            "mode": "multi",
            "sort": "desc"
          }
        },
        "pluginVersion": "9.4.7",
        "targets": [
          {
            "datasource": {
              "type": "prometheus",
              "uid": "prometheus"
            },
            "editorMode": "code",
            "exemplar": false,
            "expr": "sum (prometheus_jenkins_executors_queue_length{jenkins_team=~\"$jenkins_team\", jenkins_environment=~\"$jenkins_environment\"}) by (label) >= 1",
            "format": "time_series",
            "instant": false,
            "interval": "",
            "legendFormat": "__auto",
            "range": true,
            "refId": "A"
          }
        ],
        "title": "Queue global",
        "type": "timeseries"
      },
      {
        "collapsed": true,
        "gridPos": {
          "h": 1,
          "w": 24,
          "x": 0,
          "y": 60
        },
        "id": 10,
        "panels": [
          {
            "datasource": {
              "type": "prometheus",
              "uid": "prometheus"
            },
            "description": "",
            "fieldConfig": {
              "defaults": {
                "mappings": [],
                "thresholds": {
                  "mode": "absolute",
                  "steps": [
                    {
                      "color": "green",
                      "value": null
                    },
                    {
                      "color": "red",
                      "value": 80
                    }
                  ]
                },
                "unit": "short"
              },
              "overrides": []
            },
            "gridPos": {
              "h": 5,
              "w": 19,
              "x": 0,
              "y": 61
            },
            "id": 12,
            "options": {
              "colorMode": "background",
              "graphMode": "none",
              "justifyMode": "auto",
              "orientation": "auto",
              "reduceOptions": {
                "calcs": [
                  "lastNotNull"
                ],
                "fields": "",
                "values": false
              },
              "text": {},
              "textMode": "auto"
            },
            "pluginVersion": "9.4.7",
            "targets": [
              {
                "datasource": {
                  "type": "prometheus",
                  "uid": "prometheus"
                },
                "editorMode": "code",
                "expr": "jenkins_executors_connecting{label=~\"$workers_label\",jenkins_team=~\"$jenkins_team\", jenkins_environment=~\"$jenkins_environment\"}",
                "hide": false,
                "legendFormat": "Connecting",
                "range": true,
                "refId": "E"
              },
              {
                "datasource": {
                  "type": "prometheus",
                  "uid": "prometheus"
                },
                "editorMode": "code",
                "expr": "prometheus_jenkins_executors_defined{label=~\"$workers_label\",jenkins_team=~\"$jenkins_team\", jenkins_environment=~\"$jenkins_environment\"}",
                "legendFormat": "Defined",
                "range": true,
                "refId": "A"
              },
              {
                "datasource": {
                  "type": "prometheus",
                  "uid": "prometheus"
                },
                "editorMode": "code",
                "expr": "prometheus_jenkins_executors_online{label=~\"$workers_label\",jenkins_team=~\"$jenkins_team\", jenkins_environment=~\"$jenkins_environment\"}",
                "hide": false,
                "legendFormat": "Online",
                "range": true,
                "refId": "D"
              },
              {
                "datasource": {
                  "type": "prometheus",
                  "uid": "prometheus"
                },
                "editorMode": "code",
                "expr": "prometheus_jenkins_executors_idle{label=~\"$workers_label\",jenkins_team=~\"$jenkins_team\", jenkins_environment=~\"$jenkins_environment\"}",
                "hide": false,
                "legendFormat": "Idle",
                "range": true,
                "refId": "C"
              },
              {
                "datasource": {
                  "type": "prometheus",
                  "uid": "prometheus"
                },
                "editorMode": "code",
                "expr": "prometheus_jenkins_executors_available{label=~\"$workers_label\",jenkins_team=~\"$jenkins_team\", jenkins_environment=~\"$jenkins_environment\"}",
                "hide": false,
                "legendFormat": "Available",
                "range": true,
                "refId": "F"
              },
              {
                "datasource": {
                  "type": "prometheus",
                  "uid": "prometheus"
                },
                "editorMode": "code",
                "expr": "prometheus_jenkins_executors_busy{label=~\"$workers_label\",jenkins_team=~\"$jenkins_team\", jenkins_environment=~\"$jenkins_environment\"}",
                "hide": false,
                "legendFormat": "Busy",
                "range": true,
                "refId": "B"
              }
            ],
            "title": "Usage executor on $workers_label",
            "type": "stat"
          },
          {
            "datasource": {
              "type": "prometheus",
              "uid": "prometheus"
            },
            "description": "",
            "fieldConfig": {
              "defaults": {
                "color": {
                  "mode": "thresholds"
                },
                "mappings": [],
                "thresholds": {
                  "mode": "absolute",
                  "steps": [
                    {
                      "color": "green",
                      "value": null
                    },
                    {
                      "color": "red",
                      "value": 80
                    }
                  ]
                }
              },
              "overrides": []
            },
            "gridPos": {
              "h": 5,
              "w": 5,
              "x": 19,
              "y": 61
            },
            "id": 58,
            "options": {
              "colorMode": "value",
              "graphMode": "area",
              "justifyMode": "center",
              "orientation": "auto",
              "reduceOptions": {
                "calcs": [
                  "lastNotNull"
                ],
                "fields": "",
                "values": false
              },
              "text": {
                "valueSize": 120
              },
              "textMode": "auto"
            },
            "pluginVersion": "9.4.7",
            "targets": [
              {
                "datasource": {
                  "type": "prometheus",
                  "uid": "prometheus"
                },
                "editorMode": "code",
                "expr": "prometheus_jenkins_executors_queue_length{label=~\"$workers_label\",jenkins_team=~\"$jenkins_team\", jenkins_environment=~\"$jenkins_environment\"}",
                "legendFormat": "__auto",
                "range": true,
                "refId": "A"
              }
            ],
            "title": "Queue on $workers_label",
            "type": "stat"
          }
        ],
        "repeat": "workers_label",
        "repeatDirection": "h",
        "title": "Executors for $workers_label",
        "type": "row"
      }
    ],
    "revision": 1,
    "schemaVersion": 38,
    "uid": "jenkins-advanced-overview",
    "version": 7,
    "weekStart": "",
    "gnetId": 21628
  }
}