---
# Handlers for monitoring role

- name: restart prometheus
  community.docker.docker_container:
    name: prometheus-{{ deployment_environment | default('local') }}
    state: started
    restart: yes
  listen: "restart prometheus"

- name: reload prometheus
  uri:
    url: "http://{{ monitoring_server_address }}:{{ prometheus_port }}/-/reload"
    method: POST
    status_code: 200
  listen: "reload prometheus"
  ignore_errors: yes
  register: prometheus_reload_result
  retries: 3
  delay: 2
  when: inventory_hostname == monitoring_server_host

- name: restart grafana
  community.docker.docker_container:
    name: grafana-{{ deployment_environment | default('local') }}
    state: started
    restart: yes
  listen: "restart grafana"

- name: restart alertmanager
  community.docker.docker_container:
    name: alertmanager-{{ deployment_environment | default('local') }}
    state: started
    restart: yes
  listen: "restart alertmanager"
  when: alertmanager_enabled | default(false)

- name: restart loki
  community.docker.docker_container:
    name: loki-{{ deployment_environment | default('local') }}
    state: started
    restart: yes
  listen: "restart loki"
  when: loki_enabled | default(true)

- name: restart promtail
  community.docker.docker_container:
    name: promtail-monitoring-{{ deployment_environment | default('local') }}
    state: started
    restart: yes
  listen: "restart promtail"
  when: promtail_enabled | default(true)
