[Unit]
Description=Jenkins Backup Timer
Requires=backup.service

[Timer]
OnCalendar={{ backup_schedule | default('daily') }}
Persistent={{ backup_persistent | default('true') }}
RandomizedDelaySec={{ backup_randomized_delay | default('900') }}

[Install]
WantedBy=timers.target