global
    daemon
    maxconn 4096
    log 127.0.0.1:514 local0
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin
    stats timeout 30s
    user haproxy
    group haproxy

defaults
    mode http
    log global
    option httplog
    option dontlognull
    option redispatch
    retries 3
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms
    errorfile 400 /etc/haproxy/errors/400.http
    errorfile 403 /etc/haproxy/errors/403.http
    errorfile 408 /etc/haproxy/errors/408.http
    errorfile 500 /etc/haproxy/errors/500.http
    errorfile 502 /etc/haproxy/errors/502.http
    errorfile 503 /etc/haproxy/errors/503.http
    errorfile 504 /etc/haproxy/errors/504.http

frontend jenkins_frontend
    bind {{ vip_address | default('*') }}:{{ jenkins_port | default('8080') }}
    default_backend jenkins_backend
    option httpchk GET {{ jenkins_context_path | default('') }}/login
    
    # Blue-Green deployment headers
    http-request set-header X-Forwarded-Proto https if { ssl_fc }
    http-request set-header X-Forwarded-For %[src]
    http-response set-header X-Jenkins-Environment {{ jenkins_current_environment | default('unknown') }}

# Include blue-green backend configuration
{% if jenkins_deployment_mode | default('ha') == 'blue-green' %}
# Blue-Green deployment backend - dynamically managed
include {{ jenkins_load_balancer_backend_file | default('/etc/haproxy/conf.d/jenkins-backend.cfg') }}
{% else %}
# Traditional HA backend configuration
backend jenkins_backend
    balance roundrobin
    option httpchk GET {{ jenkins_context_path | default('') }}/login
    http-check expect status 200
{% for host in groups['jenkins_masters'] %}
    server {{ hostvars[host]['inventory_hostname'] }} {{ hostvars[host]['ansible_default_ipv4']['address'] }}:{{ jenkins_port | default('8080') }} check
{% endfor %}
{% endif %}

listen stats
    bind {{ vip_address | default('*') }}:{{ haproxy_stats_port | default('8404') }}
    stats enable
    stats uri /stats
    stats refresh 30s
    stats admin if TRUE