<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              http://maven.apache.org/xsd/settings-1.0.0.xsd">
  
  <!-- Local repository location -->
  <localRepository>/home/jenkins/.m2/repository</localRepository>
  
  <!-- Offline mode -->
  <offline>false</offline>
  
  <!-- Plugin groups -->
  <pluginGroups>
    <pluginGroup>org.apache.maven.plugins</pluginGroup>
    <pluginGroup>org.codehaus.mojo</pluginGroup>
  </pluginGroups>
  
  <!-- Proxy configuration -->
  {% if maven_proxy_enabled | default(false) %}
  <proxies>
    <proxy>
      <id>default</id>
      <active>true</active>
      <protocol>{{ maven_proxy_protocol | default('http') }}</protocol>
      <host>{{ maven_proxy_host }}</host>
      <port>{{ maven_proxy_port }}</port>
      {% if maven_proxy_username is defined %}
      <username>{{ maven_proxy_username }}</username>
      {% endif %}
      {% if maven_proxy_password is defined %}
      <password>{{ maven_proxy_password }}</password>
      {% endif %}
      {% if maven_proxy_nonProxyHosts is defined %}
      <nonProxyHosts>{{ maven_proxy_nonProxyHosts }}</nonProxyHosts>
      {% endif %}
    </proxy>
  </proxies>
  {% endif %}
  
  <!-- Server authentication -->
  <servers>
    {% if harbor_integration_enabled | default(true) %}
    <server>
      <id>harbor-snapshots</id>
      <username>{{ harbor_username }}</username>
      <password>{{ harbor_password }}</password>
    </server>
    <server>
      <id>harbor-releases</id>
      <username>{{ harbor_username }}</username>
      <password>{{ harbor_password }}</password>
    </server>
    {% endif %}
    
    {% if maven_servers is defined %}
    {% for server in maven_servers %}
    <server>
      <id>{{ server.id }}</id>
      <username>{{ server.username }}</username>
      <password>{{ server.password }}</password>
      {% if server.privateKey is defined %}
      <privateKey>{{ server.privateKey }}</privateKey>
      {% endif %}
      {% if server.passphrase is defined %}
      <passphrase>{{ server.passphrase }}</passphrase>
      {% endif %}
    </server>
    {% endfor %}
    {% endif %}
  </servers>
  
  <!-- Mirror configuration -->
  <mirrors>
    {% if maven_central_mirror_enabled | default(false) %}
    <mirror>
      <id>central-mirror</id>
      <name>Central Repository Mirror</name>
      <url>{{ maven_central_mirror_url }}</url>
      <mirrorOf>central</mirrorOf>
    </mirror>
    {% endif %}
    
    {% if harbor_integration_enabled | default(true) %}
    <mirror>
      <id>harbor-maven</id>
      <name>Harbor Maven Repository</name>
      <url>{{ harbor_registry_url }}/chartrepo/{{ harbor_project }}</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
    {% endif %}
  </mirrors>
  
  <!-- Profiles -->
  <profiles>
    <profile>
      <id>default</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      
      <properties>
        <maven.compiler.source>{{ default_jdk_version | default('11') }}</maven.compiler.source>
        <maven.compiler.target>{{ default_jdk_version | default('11') }}</maven.compiler.target>
        <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
        <project.reporting.outputEncoding>UTF-8</project.reporting.outputEncoding>
        <maven.test.failure.ignore>false</maven.test.failure.ignore>
      </properties>
      
      <repositories>
        <repository>
          <id>central</id>
          <name>Central Repository</name>
          <url>https://repo1.maven.org/maven2</url>
          <layout>default</layout>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        
        {% if harbor_integration_enabled | default(true) %}
        <repository>
          <id>harbor-snapshots</id>
          <name>Harbor Snapshots</name>
          <url>{{ harbor_registry_url }}/artifactory/maven-snapshots</url>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
          <releases>
            <enabled>false</enabled>
          </releases>
        </repository>
        
        <repository>
          <id>harbor-releases</id>
          <name>Harbor Releases</name>
          <url>{{ harbor_registry_url }}/artifactory/maven-releases</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <releases>
            <enabled>true</enabled>
          </releases>
        </repository>
        {% endif %}
      </repositories>
      
      <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <name>Central Repository</name>
          <url>https://repo1.maven.org/maven2</url>
          <layout>default</layout>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <releases>
            <updatePolicy>never</updatePolicy>
          </releases>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  
  <!-- Active profiles -->
  <activeProfiles>
    <activeProfile>default</activeProfile>
  </activeProfiles>
  
</settings>